!!! 5
%html(lang="en-US")
  %body
    %p Hello #{@user.name},
    %p #{link_to 'Click here', edit_password_url(id: @user.password_reset_token)} to reset your MyFlix password.
    %p If you did not request a password reset, please ignore this email and your password will not be changed.