%article.video_category
  %header
  / %h3= link_to "TV Comedies"
  .videos.row
    - @videos.each do |video|
      .video.col-sm-2
        = link_to video_path(video.id) do
          = image_tag video.small_cover_url